{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{%static 'bootstrap.min.css'%}">
	<style type="text/css">
		.container-fluid-a{
			background-color :#861657;
			height:100px;
		}
		.btn-a{
			background-color: transparent;
			border:1px solid orange;
			color:orange;
			position: relative;
		}
		.container-a{
			height:auto;
			border:1px solid black;
		}
		.container-b{
			height:100px;
			border:1px solid black;
			margin:20px;
		}
		.nav-buttons{
			width:auto;
			height: auto;
			float:right;
		}

	</style>
</head>
<body>
	<div class ="container-fluid container-fluid-a">
		<div class="page-header">
			<h1>Write-it</h1>
		</div>
		<div class ="nav-buttons">
			<span style ="float:right;margin:10px;">
				<button class="btn btn-primary btn-a">Login</button>
			</span>
			<span style="float:right;margin:10px;">
				<button class="btn btn-primary btn-a">Signup</button>
			</span>
		</div>

	</div>
	<div class="container container-a">
		<div class="container-b"></div>
		<div class="container-b"></div>
		<div class="container-b"></div>
		<div class="container-b"></div>

	</div>
</body>
</html>